.Header-div {
  display: flex;
  background-color: black;
  color: pink;
  font-family: monospace;
  font-size: larger;
  justify-content: flex-end;
  border-radius: 12px;
  box-shadow: 4px 10px 16px 0;
  flex-direction: column;
  align-items: center;
}

.horns-label {
  border: 1px solid pink;
  margin-right: 2rem;
  border-radius: 6px;
}
