.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://imgtr.ee/images/2023/07/20/fd597c7f8cfda008dc7662f27768d094.png");
  background-attachment: fixed;
  background-repeat: repeat;
}
